# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build output (pour React)
build/
dist/

# System files
.DS_Store
Thumbs.db

# Coverage reports
coverage/

# IDE & OS
.vscode/
.idea/
*.swp
